{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fondo fixed-top">
    <a class="navbar-brand" href="{% url 'inicio' %}">
        <img class="logo" src="{% static 'img/LogoMySuperPet.png' %}" alt="NavBarLogo">
        My Super Pet
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto text-center">
        <a class="nav-item nav-link">
            <a href="{% url 'acceder' %}" class="btn btn-light btn-block">Iniciar Sesión</a>
        </a>
        <a class="nav-item nav-link">
            <a href="{% url 'registro' %}" class="btn btn-light btn-block">Registrarse</a>
        </a>
      </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="padre vh100">
                <div class="hijo2">
                    <img class="w-100 imgPrincipal" src="{% static 'img/LogoMySuperPet.png' %}" alt="Imagen Fondo">
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="padre vh100">
                <div class="hijo text-light">
                    <h2 class="tituloGrande"><i>Conoce a tu próxima mascota y preparala para ser la mejor !</i></h2>
                    <h3 class="subtituloGrande"><i>Tu nuevo amigo te espera en <b>My Super Pet</b></i></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer text-center fixed-bottom p-4 text-light">
    <h6>My Super Pet - 2022</h6>
</div>
{% endblock %}